<div class="topbar">
    <h1>{{title}}</h1>
</div>


<div class="sidebar">
    <p>Players:({{ room.playercount }}/{{ room.maxplayers }})</p>
    <div id="players_list"*ngFor="let player of players">
            <div class="head">{{ player.playername }}
                <app-kick-button *ngIf="isHost" [id]="player._id" [roomId]="this.room._id"></app-kick-button>
            </div>
    </div>
    
   
</div>

<div class="main">
    <main>
        <div class="jeff-is-wet">
            <div class="cube-loader">
            <div class="cube-top"></div>
                <div class="cube-wrapper">
                    <span class="cube-span" style="--i:0">
                        <div style="text-align: center; font-size: 50px;" class="taco-container">🌮</div>
                    </span>
                    <span class="cube-span" style="--i:1">
                        <div style="text-align: center; font-size: 50px;" class="taco-container">🌮</div>
                    </span>
                    <span class="cube-span" style="--i:2">
                        <div style="text-align: center; font-size: 50px;" class="taco-container">🌮</div>
                    </span>
                    <span class="cube-span" style="--i:3">
                        <div style="text-align: center; font-size: 50px;" class="taco-container">🌮</div>
                    </span>
                </div>
            </div>
        </div> 
    </main>
  </div>
