<div class="topbar">
    <h1>{{title}}</h1>
</div>


<div class="sidebar">
    <app-rooms-button></app-rooms-button>
</div>

<div class="main">
    <main>
      <img src="../../../assets/ambassador.png" alt="trimg1" class="trimg">
      <img src="../../../assets/assassin.png" alt="trimg2" class="trimg">
      <img src="../../../assets/captain.png" alt="trimg3" class="trimg">
      <img src="../../../assets/contessa.png" alt="trimg4" class="trimg">
      <img src="../../../assets/duke.png" alt="trimg5" class="trimg">
      <img src="../../../assets/inquisitor.png" alt="trimg6" class="trimg">
      
    </main>
  </div>